/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/*********************
/ * HEADER SECTION
/*********************/

.header {
	padding: 10px 0 0 0;
	overflow: hidden;
	background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url("../images/header_bg_1.jpg") no-repeat center;
	background-width: 100%;
	color: #fff;
}

.header a {
	font-family: 'Arvo', sans-serif;
	font-size: 1.5rem;
	color: #fff;
}

.nav {
	margin: 5px 5px 30px 5px;
}

.icongoeshere {
	float: left;
	width: 100px;
	height: 100px;
	text-indent: -100000px;
	position: absolute;
	left: 5px;
	top: -15px;
	background: url("../images/plop_icon.png") no-repeat center center;
	background-size: 100% 100%;
}

.pull-right {
	float: right;
	list-style: none;
	padding: 20px;
}

.pull-right li {
	display: inline-block;
}

.create_account {
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 0px 25px;
	background-color: rgba(255,255,255,.5);
}

.create_account:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, .8);
	color: #A4A09B;
}

.log_in {
	text-decoration: underline;
}

.log_in:hover {
	color: #565A5C;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.titlebar {
	text-align: center;
	margin: 55px 0 20px 0;
	font-size: 5rem;
}

.subtitle {
	font-size: 3rem;
}

.searchbar_container {
	background-color: rgba(0,0,0,.5);
	padding: 25px 0;
}

.searchbarplaceholder {
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	border: 2px solid #fff;
	width: 500px;
	background-color: rgba(255,255,255,.5);
}

/*********************
/ * CITIES SECTION
/*********************/

.cities {
	text-align: center;
	background-color: #F6F7F7;
	color: #565A5C;
}

.cities a {
	text-decoration: none;
	font-family: 'Arvo', sans-serif;
}

.cities-header {
	margin: 20px 0px 50px 0;
}

.cities-header h2 {
	font-weight: 800;
	padding: 20px 0 0 0;
}

.cityexample-container {
	margin: 0 auto;
	width: 100%;
}

.cityexample {
	display: inline-block;
	font-size: 3rem;
	font-weight: 800;
	color: #fff;
	/*height: 200px;*/
	padding: 135px 50px;
	margin: 0 9px;
}

.cityexample:hover, .cityexample:visited {
	color: #fff;
}

.nyc {
	background: url("../images/nyc_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}

.nyc:hover {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
		), url("../images/nyc_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}

.dc {
	background: url("../images/washington_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}

.dc:hover {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
		), url("../images/washington_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}

.baltimore {
	background: url("../images/baltimore_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}

.baltimore:hover {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
		), url("../images/baltimore_icon.jpg") no-repeat center center;
	background-size: 100% 100%;
}


.baltimore:visited {
	color: #FFF;
}

.morecities {
	margin: 45px 0;
}

.morecitiesbutton {
	border: 2px solid #565A5C;
	border-radius: 5px;
	padding: 15px 80px;
	font-size: 1.5rem;
	font-weight: 800;
	color: #565A5C;
	background-color: #fff;

}

.morecitiesbutton:hover {
	background-color: #DEDFDC;
}

/*********************
/ * REVIEW SECTION
/*********************/

.review {
	background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url("../images/review_bg_1.jpg") no-repeat center;
	background-size: 100% 100%;
	text-align: center;
	padding: 0 0 30px 0;
}

.review a {
	text-decoration: none;
	font-family: 'Arvo', sans-serif;
}

.review a:hover {
	background-color: #DEDFDC;
}

.review h2 {
	color: #fff;
}

.review-row {
	margin: 0 0 50px 0;
	background-color: rgba(246, 247, 247, 0.9);
	border-radius: 5px;
}

.icon {
	padding: 0;
}

.test_icon{
	background: url("../images/user_icons/test_icon.jpg")no-repeat center center;
	border-radius: 5px;
	background-size: 100% 100%;
	height: 40px;
	width: 40px;
	margin: 5px 0 0 10px;
}

.new_test_icon {
	background: url("../images/user_icons/new_test_icon.jpg")no-repeat center center;
	border-radius: 5px;
	background-size: 100% 100%;
	height: 40px;
	width: 40px;
	margin: 5px 0 0 10px;
}

.reviewtitle {
	font-size: 2rem;
	display: inline-block;
	text-align: left;
	padding-top: 20px;
	padding-left: 0;
	margin-left: -10px;
}

.review_variable {
	font-weight: 800;
}

.static_review_title_text {
	font-size: 1.5rem;
}

.end_colon {
	margin-left: -2px;
}

.review_content {
	font-size: 1.5rem;
	text-align: left;
	border-radius: 5px;
	padding-top: 10px;
}

.review_content h3 {
	font-size: 1.5rem;
	font-weight: 800;
	display: inline-block;
}

.review_ratings{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	margin-bottom: -20px;
	vertical-align: bottom;
}

.ratings_categories {
	margin: 0 5px 0 15px;

}

.stars {
	display: inline-block;
}

.fullstar {
	height: 15px;
}

.emptystar {
	height: 15px;
}

.review_hashtags h3 {
	float: left;
	margin-right: 30px;
}

.hashtags {
	float: left;
	padding: 15px 15px 0 0;
	margin-bottom: 7px;

}

.hashtags a {
	text-decoration: none;
	color: #565A5C;
	font-weight: 700;
	display: inline-block;
	margin: 0 5px;
	background-color: rgba(145, 198, 216, .7);
	border-radius: 5px;
	padding: 3px 7px;
}

.hashtags a:hover {
	background-color: #63838E;
	color: #F6F7F7;
}

#review-image-carousel .review_image img{
    display: block;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 30px 0 20px 0;
}

.reviewbutton {
	border: 2px solid #565A5C;
	border-radius: 5px;
	padding: 10px 70px;
	font-size: 1.7rem;
	font-weight: 800;
	color: #565A5C;;
	background-color: #fff;

}

.new-review-row {
	padding-top: 15px;
}

.reviewlabel {
	font-size: 1.8rem;
}

#new-review {
	display:none;
}

#submitreviewbutton {
	display: none;
}

#newreviewsectiontitle {
	display: none;
}

.rating {
    float:left;
    width:200px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    background:url("http://i.imgur.com/yS2PfXH.png")no-repeat center center;
    background-size: 25px 25px;
    margin-right:2px;
    line-height:30px;
    
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:url("http://i.imgur.com/2c1czc9.png")no-repeat center center;
    background-size: 25px 25px;
    color:#FFF;
}

div.tagsinput { 
	border:1px solid #CCC;
	border-radius: 5px; 
	background: #FFF; 
	padding:5px; 
	width:300px; 
	height:100px; 
	overflow-y: auto;
}

div.tagsinput span.tag { 
	/*border: 1px solid #a5d24a;*/ 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	display: block; 
	float: left; 
	padding: 3px 7px; 
	text-decoration:none; 
	background: #ABD0DA; 
	color: #565A5C; 
	margin-right: 5px; 
	margin-bottom:5px;
	font-family: "Arvo";  
	font-size:1.5rem;
	font-weight: 800;
}

div.tagsinput span.tag a { 
	font-weight: bold; 
	color: #565A5C; 
	text-decoration:none; 
	font-size: 11px;  
} 

div.tagsinput input { 
	width:80px; 
	margin:0px; 
	font-family: 
	"Arvo"; font-size: 1.3rem; 
	border:1px solid transparent; 
	padding:5px; 
	background: transparent; 
	color: #000; 
	outline:0px;  
	margin-right:5px; 
	margin-bottom:5px; 
}

div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

div.rounded {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}

#previewTable {
    width: 100%;
}

.buttonwithextrastyles {
	margin-top: 40px;
	font-size: 1.7rem;
	font-family: "Arvo", sans-serif;
}

/*********************
/ * FOOTER SECTION
/*********************/

.footer {
	color: #565A5C;
	background-color: #F6F7F7;
	overflow: hidden;
}

.footer h3 {
	font-size: 2rem;
}

.footer-row {
	margin: 0 50px 50px 50px;
}

.footer-list {
	font-size: 1.5rem;
}

.footer-list ul {
	margin: 0;
	padding: 0 0 0 7px;
}

.footer-list li {
	list-style: none;
	font-size: 1.2rem;
	margin: 8px 0;
}

.list_icon {
	float: left;
	height: 35px;
	margin: 0 5px 0 0;
}

.clear {
	clear: both;
}

.li_title {
	font-size: 1.3rem;
	font-weight: 800;
	color: #000;
}

.footer_img {
	float: right;
	overflow: hidden;
}

.footerplaceholder {
	background: url("../images/toiletpic.png")no-repeat center center;
	background-size: 100% 100%;
	border-radius: 75px;
	height: 300px;
	width: 350px;
	margin: 15px auto;
	padding: 30px;
	text-align: center;
}

.secondary_list {
	margin: 20px 0 0 0;
}

.secondary_list p {
	margin: 0;
	padding: 0;
}

.secondary_list ul {
	margin: 0;
	padding: 0 0 0 7px;
}

.secondary_list li {
	list-style: none;
}

.secondary_list a {
	text-decoration: none;
}

.secondary_li_title {
	font-weight: 800;
	font-size: 1.5rem;
}

.footer_bottom {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.footer_icon {
	height: 50px;
	width: 50px;
	background: url("../images/plop_icon.png")no-repeat center center;
	background-size: 100% 100%;
	float: left;
}

.copyright {
	text-align: center;
	padding-top: 15px;
	float: left;
	
}

.clear {
	clear:both;
}






